@font-face {
  font-family: "test";
  src: local("MyFont"), url(../../../font/al-seana.ttf) format("truetype");
}

.canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
