.carousel {
  width: 45%;
  position: relative;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 5px black;
  padding: 0px 10px 30px 10px;
  &__dark {
    background-color: rgba(0, 128, 255, 0.8588235294);
  }
  &__light {
    background-color: rgba(0, 128, 255, 0.303);
  }
  &__p {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 5px 15px;
  }
  &__img {
    width: 90%;
    height: 500px;
    object-fit: contain;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 0px;
    &__left {
      position: absolute;
      cursor: pointer;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      &:hover {
        transform: translateY(-50%) scale(1.2);
      }
    }
    &__right {
      position: absolute;
      cursor: pointer;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      &:hover {
        transform: translateY(-50%) scale(1.2);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .carousel {
    margin-top: 50px;
    padding: unset;
    width: 100%;
    padding-bottom: 50px;
    position: relative;
    &__img {
      position: relative;
      width: 85%;
      top: unset;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 425px) {
  .carousel {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    padding: unset;
    margin-bottom: 30px;
    &__p {
      bottom: unset;
    }
    &__img {
      width: 85%;
      max-height: 400px;
      height: unset;
      &__left {
        left: 0px;
      }
      &__right {
        right: 0px;
      }
    }
  }
}
