@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url(../../../font/Parisienne-Regular.ttf) format("truetype");
}

.content {
  width: 40%;
  &__title {
    font-size: 30px;
    font-family: MyFont, Times, serif;
    &__dark {
      color: white;
    }
    &__light {
      color: black;
    }
  }
  &__tech {
    &__dark {
      color: white;
    }
    &__light {
      color: black;
    }
  }
  &__link {
    &__dark {
      color: white;
    }
    &__light {
      color: black;
    }
    &__a {
      &__dark {
        color: rgba(0, 128, 255, 0.8588235294);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
    &__p {
      text-align: justify;
    }
  }
}

@media screen and (max-width: 425px) {
  .content {
    width: 100%;
  }
}
