.collapse {
  position: relative;
  margin-bottom: 30px;
  &__h1 {
    padding: 10px;
    background: linear-gradient(
      to right top,
      rgba(0, 128, 255, 0.8588235294),
      #007fff
    );
    box-shadow: 0px 0px 5px 1px rgba(36, 57, 141, 0.4);
    color: white;
    border-top-left-radius: 10px;
    margin: 0;
    border-top-right-radius: 10px;
    cursor: pointer;
  }
  &__img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;

    &__close {
      transform: rotate(270deg);
    }
    &__open {
      transform: rotate(-270deg);
    }
  }
  &__content {
    padding: 20px;
    margin: 0;
    background-color: lightblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
