.doodle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  &__title {
    text-align: center;
  }
  &__wait {
    width: 350px;
    height: 650px;
    background-color: rgba(128, 128, 128, 0.312);
  }
}
