.tetris {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  &__title {
    text-align: center;
  }
  &__content {
    width: 620px;
    height: 465px;
    background-color: rgba(128, 128, 128, 0.068);
    position: relative;
  }
  &__row {
    display: flex;
    justify-content: center;
  }

  &__cell {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #f0f0f0;
    border: 0.1px solid #80808052;
    cursor: pointer;
    &__current {
      background-color: yellow;
    }
  }
}
