.board {
  margin: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #f0f0f0;
  border: 0.1px solid #80808052;
  cursor: pointer;
}

.snake {
  background-color: #f00;
}

.food {
  background-color: green;
}

.link {
  background-color: yellow;
}
