.theme {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  z-index: 998;
  &__circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff9a00;
    cursor: pointer;
    transition: all 0.6s ease 0s;
    &__light {
      background-color: black;
      &:hover {
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.51);
      }
    }
    &__dark {
      background-color: white;
      &:hover {
        box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.41);
      }
    }
  }
}
